@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkBlue: '#060930';
  --lightBlue: '#595B83';
  --lightBlueGray: '#333456';
  --pastelPink: '#F4ABC4';
  --white: '#FFFFFF';
}

body {
  color: var(--white);
  background: var(--darkBlue);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
