.default-menu {
  display: flex;
}

.mobile-menu {
  display: none;
}

.reports-link {
  display: block;
}

@media (max-width: 768px) {
  .default-menu {
    display: none;
  }

  .mobile-menu {
    display: flex;
  }

  .reports-link {
    display: none;
  }
}